JIRA_BASE_URL=https://godaddy-corp.atlassian.net
JIRA_EMAIL=you@godaddy.com
JIRA_API_TOKEN=
JIRA_PROJECT=AIROBUILD
JIRA_ASSIGNEE=currentUser()
# JIRA_JQL=  # optional full override of the backlog-queue query
GITHUB_TOKEN=
GITHUB_REPO=nathanloehlein/backlog-runner
GITHUB_PR_AUTHOR=nathanloehlein
